@import "../mixins";
@import '../../../../SCSS_JS_Source/_vendor/foundation/scss/foundation';

[data-element_type="novaworks-advanced-map.default"] {
	.novaworks-map-message {
		width: 100%;
		height: 300px;
		position: relative;

		@include ad_display;
		@include justify-content(center);
		@include align-items(center);

		.novaworks-map-message__text {
			z-index: 2;
		}

		.novaworks-map-message__dammy-map {
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url( '../images/dummy-map.png' );
			background-repeat: no-repeat;
			background-color: white;
			background-size: cover;
			filter: blur(1.5px);
			z-index: 1;
		}
	}
}
