@import "../mixins";
@import '../../../../SCSS_JS_Source/_vendor/foundation/scss/foundation';
.novaworks-countdown-timer {
  display: flex;
  &__item {
    margin: 0 rem-calc(15);
    &-value {
      font-size: rem-calc(48);
      line-height: 1;
    }
    &-label {
      font-size: rem-calc(18);
      text-transform: uppercase;
    }
  }
}
