@import "../mixins";
@import '../../../../SCSS_JS_Source/_vendor/foundation/scss/foundation';
.nova-tm-wrapper {
    position: relative;
    .nova-tm-social-links {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
			vertical-align: top;
        }
    }
    .nova-tm-title-divider-wrap {
        font-size: 0;
        line-height: 1;
    }
    li,
    .nova-tm-social-icon,
    .nova-tm-divider {
        display: inline-block;
    }
    .nova-tm:hover {
        .nova-tm-overlay-content-wrap {
            opacity: 1;
            visibility: visible;
        }
    }
    .nova-tm-image {
        display: inline-block;
        position: relative;
    }
}
.nova-tm-content-normal {
    position: relative;
    z-index: 1;
}
.nova-tm-overlay-content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &:before {
        background-color: #000;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: -1;
    }
    .nova-tm-content {
        padding: 20px;
        width: 100%;
        @include center(vertical);
    }
}
.nova-tm-social-icon-wrap {
    display: inline-flex;
    transition: all 0.3s ease-in-out;
}
.nova-tm-name {
    a {
        color: inherit;
    }
}
.nova-tm-description {
	p:last-child {
		margin-bottom: 0;
	}
}
/** About Us Style **/
.about-us {
  .nova-tm-wrapper {
    border: solid 1px #E5E5E5;
    .nova-tm-position {
      position: absolute;
      top: -50%;
      left: 40px;
      background: #000;
      color: #fff;
      font-size: rem-calc(12);
      padding: rem-calc(5) rem-calc(10);
      text-transform: uppercase;
      transform-origin: 0 0;
      transform: rotate(90deg);
    }
  }
}
